.Logo {
  width: 3rem;
  height: 3rem;
  background: #facc00;
  border-radius: 25%;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.Logo::before {
  content: "";
  background-image: url('./arrow.svg');
  background-repeat: repeat-x;
  width: 142%;
  position: absolute;
  height: 55%;
  top: 17%;
  z-index: -1;
  transform: rotate(-225deg);
  background-size: 20%;
  left: -30%;
}