.RadioButton {
  border: 2px solid #facc00;
  padding: 5px 10px 5px 5px;
  border-radius: 15px;
  min-width: 100px;
  font-family: 'Passion One';
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #facc00;
  cursor: pointer;
}

.RadioButton.selected {
  background: #facc00;
}

input.RadioButton-input[type="radio"] {
  display: none;
}

input.RadioButton-input[type='radio'] + label span {
    display:inline-block;
    width:18px;
    height:18px;
    border: 2px solid #facc00;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    border-radius:  50%;
}

input.RadioButton-input[type='radio']:checked + label span {
    display:inline-block;
    width:18px;
    height:18px;
    border: 2px solid white;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    background: #facc00;
    border-radius: 50%;
}

input.RadioButton-input[type='radio']:checked + label {
  color: black;
}