.QuoteForm {
  padding: 25px 0;
  padding-top: 2.5%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./Digger.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.StepContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Step {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: space-between;
}

.QuoteForm-ButtonGroup {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.QuoteForm-ButtonGroup.firstStep {
  justify-content: flex-end;
}

.OrderForm-radio-group {
  display: flex;
}

.OrderForm-radio-group > * {
  margin: 25px 10px 10px 10px;
}

.Steps {
  min-height: 400px;
}

.DateRangePickerContainer {
  margin-top: 30px;
}

.DateRangePicker__picker.DateRangePicker__picker--direction-left.DateRangePicker__picker--horizontal {
  border-radius: 10px;
}

.QuoteForm .DateRangePickerInput {
  background: rgba(250,204,0, .85);
  border: none;
  border-radius: 20px;
}

.QuoteForm .DateInput {
  border-radius: 20px;
  background: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.QuoteForm .DateInput__display-text.DateInput__display-text--focused {
  background: none;
  font-weight: 900;
  color: black;
}