.Header {
  background: rgba(0, 0, 0, .9);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
}

.Header, a, h1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  padding: 2.5px 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.Header > a > h1 {
  font-size: 1.3rem;
}